{% extends 'KenavoWelcomeWallBundle::layout.html.twig' %}

{% block content %}
    <div class="sidebar">
        <div class="sidebar-inner">
            {% for post in posts %}
 				{% include 'KenavoWelcomeWallBundle:Post:show.html.twig' with { 'entity' : post } %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}