<br>
<div class="thumbnail">
    <img alt="" src="http://placehold.it/260x180">
    <div class="caption">
        <h5>Thumbnail label</h5>
        <p>
            {{ entity.message }}
        </p>
        <p>
            <a class="btn primary" href="#">Respond</a>
        </p>
        
    </div>
</div>